modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
OPENAI_API_KEY = "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"
OPENROUTER_API_KEY = "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"
GROQ_API_KEY = "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"
TOGETHER_AI_API_KEY = "tgp_v1_uCtCAe47Kdb1MvbojEdctQ7-XN5JM5pYvTZncQKrnXo"
PERPLEXITY_API_KEY = "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"
GOOGLE_API_KEY = "AIzaSyBfKTDYRPiy7EVcA9jjyF1bOq3_cOj2d5Q"
GOOGLE_MAPS_API_KEY = "AIzaSyDH0BkDfE3BwEi3DCDC7LhYlHXs92OYonU"
KIMI_API_KEY = "sk-D1aZdkiRVYS1h0Vo6ttF0sdCvJFcW1SuH6DJi3QkxOt0fZtA"
KIMI_SECONDARY_KEY = "sk-6GUXJkGs9Hig2z1Cg6JwpKspWq3f7qCTGiYAUfWHmhlLCs34"
NVIDIA_API_KEY = "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"
INFERMATIC_API_KEY = "sk-XDu21qKO1Q7AhYJR9YwLhg"
INFERMATIC_API_URL = "https://api.totalgpt.ai"
BLACKBOX_AI_API_KEY = "sk-uywvKquDaRQSbuGdejb51A"
COMPOSIO_API_KEY = "ak_T2SgaBiPp_cqoEdrQ9Ba"
CHUTES_API_KEY = "cpk_86fa1d0e281a4dd5905dea896c1706cf.671dcf99a3f45d2fba9e7cfdd050899a.UWSO2D2J5yTfYWklHnIEjUlsrhncsk79"
ZAI_API_KEY = "e0c30f9e280545a3b55c4fc43108daea.pOOwPtcyWzOYwJpC"
ZAI_DEVPACK_KEY = "17098e3900674a6ca74f3abbabc53e62.fXMLTL3RczUO7O4b"
DEEPSEEK_API_KEY = "sk-b425a6b1d7404f629ed5dd4d2e2c5c1a"
CLOD_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjU3I3YklQTmd6TXA0YUdzQWZQNTc4WklGUmIyIiwidXNlcklkIjoiY1NyN2JJUE5nek1wNGFHc0FmUDU3OFpJRlJiMiIsInRlYW1JZCI6ImUyMmUyM2NkLTk0ZjktNDkxNC1hYzRmLWY1ZjEzZDQ3MmNhYiIsInRlYW1Sb2xlIjoib3duZXIiLCJwcm9qZWN0SWQiOiI0ZmUzMDY5YS00Mzk0LTRkNzQtOTNiMi1iZDE0N2EzNDhjZmIiLCJpYXQiOjE3Nzc1Njc2MzEsImV4cCI6MTgyNzU2NzYzMX0.2SrDWHx74PKhJEWVy1UUDeW8uMckuPqCYS4RqQq8ZnU"
CLOD_API_ENDPOINT = "https://api.clod.io/v1"
MINIMAX_CODING_API_KEY = "sk-cp-v6CQcdZYTUcj28Ku8KSYit-3DkQbj-OQIeO89OL1uFyHy-8rFgheru6uMC7Equ9JvUOAf_5X8bRbYZsUGhbKRUFbBCsC484K4BBq1ckD5NTWmy6xmkTSRfg"
MINIMAX_AUDIO_API_KEY = "sk-api-BBx7ebXgnXoIbtax3pS_yJVarW3maXQDSU2w3puVwn3L3aEFPo9YJgPZoL4GJidXfGNILTBytQDsI7ouuiHiRork4UMdrlYhzrzgTTlMNKtXhwUJ_9Uncow"
MINIMAX_BASE_URL = "https://api.minimax.io/anthropic"
PINECONE_API_KEY = "pcsk_3Hgyh6_Mx4tghXBieSUuDWKMaqtJViMfuTzYXanP5cVjsyvZBQcde2Qngo66WezF8W12Qa"
LANGCHAIN_API_KEY = "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"
HUGGINGFACE_TOKEN = "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"
KAGGLE_USERNAME = "rickjefferson"
KAGGLE_KEY = "KGAT_611b488b588adb883ffe9e0997ac47b5"
KAGGLE_API_TOKEN = "KGAT_dd0f99e794c8f38cbeb547aa7e44286e"
GENSPARK_API_KEY = "gsk-eyJjb2dlbl9pZCI6ImUxYTI4OWRmLTQ2YzUtNDVkZC05ODJlLTg5MTA3YWFjYmIzNSIsImtleV9pZCI6ImZmYjVlOWIxLTYwMDctNDZhYi05NThhLWQxOWM5NDhhYTU2MSIsImN0aW1lIjoxNzczNjEwNDk3LCJjbGF1ZGVfYmlnX21vZGVsIjpudWxsLCJjbGF1ZGVfbWlkZGxlX21vZGVsIjpudWxsLCJjbGF1ZGVfc21hbGxfbW9kZWwiOm51bGx9fOcWv0ero3Z1lvvrqFZyjX77isQg_CFlB92XFIMcTvx_"
GENSPARK_API_KEY_2 = "gsk-eyJjb2dlbl9pZCI6IjYxZGU2M2Q0LThhM2ItNGI1NC05N2VlLTM4YjExY2U2MDExMyIsImtleV9pZCI6IjEwY2MyYjk4LTE0NDItNGJkZC1iNTMzLTUwZWEwZmExMzUyNiIsImN0aW1lIjoxNzc0MzExMDYyLCJjbGF1ZGVfYmlnX21vZGVsIjpudWxsLCJjbGF1ZGVfbWlkZGxlX21vZGVsIjpudWxsLCJjbGF1ZGVfc21hbGxfbW9kZWwiOm51bGx9fLiVdi4XF4cO2MAFnHuZ_YbgszXrtuzIe8ndpwn6AqB3"
PAPERSWITHCODE_TOKEN = "1b4c67222552e7b168bad6ede38368ed2a0e66ce"
ABACUS_AI_API_KEY_1 = "s2_4df66e07d92d447084f2dcc9d2ece76f"
ABACUS_AI_API_KEY_2 = "s2_c72bd8bf4d8a4a1f93621f6db905d3f0"
GLAMA_API_KEY = "glama_eyJhcGlLZXkiOiI3MGFiNzY3ZS1jNzZiLTQ4MzUtYjBhZi02ZmYwZjllMzM4ZTEifQ"
FAI_API_KEY = "cd5e8ec6-8a92-4258-8f6f-ecaa258af2b2:5874c051ea7e2eea77202074ca43ffee"
AMINOS_AI_KEY = "22822ff09ffe134509592f3845263f37"
REPLICATE_API_TOKEN = "r8_f5cuWnXT58HtVYx09VJIfikjPulqEkm0Kj5ss"
CIVITAI_API_KEY = "12b47eeaa9b3e12a2ca17a5c4f740b5d"
STRIPE_SECRET_KEY = "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"
STRIPE_PUBLISHABLE_KEY = "pk_live_51ShGVR1ol5unodB2ihigOFXRIToYaB2t8yzQxyXBdXlczWogfThagRZy08r9jk16E2b8W7HnbkomNlSFeSVwK11G00W09dlcrq"
PAYPAL_CLIENT_ID = "AQ.Ab8RN6JHIMx90G_42QzZm3bDZP5hlWtTz4QH1qC28"
PAYPAL_CLIENT_SECRET = "SVRQZmAgw"
CLOUDFLARE_API_TOKEN = "zvXxjzZoiKJBlJfSjmK-v2r2dCIaLNnjq6kjLNav"
CLOUDFLARE_MASTER_TOKEN = "cfat_qLynDHLMG3Xfkxh0PN04HguEMqX4JZcvvQWSm82Naf393883"
CLOUDFLARE_WORKER_TOKEN = "mFRBvbxjiBWJIkcG9udWAUGCZ8CGw-AME2YmeW2t"
CLOUDFLARE_ZONE_ID = "18e1ffe3c8a6b6c965860aa0bae60357"
CLOUDFLARE_ACCOUNT_ID = "58250b56ae5b45d940cd6e4b64314c01"
CLOUDFLARE_ACCOUNT_HASH = "Zubex6PB2rauwMiPzKIrLA"
CLOUDFLARE_R2_S3_API = "https://58250b56ae5b45d940cd6e4b64314c01.r2.cloudflarestorage.com"
CLOUDFLARE_STREAM_SUBDOMAIN = "customer-yrtxv8psp0qjyz0x.cloudflarestream.com"
CLOUDFLARE_IMAGE_DELIVERY_URL = "https://imagedelivery.net/Zubex6PB2rauwMiPzKIrLA"
CLOUDFLARE_REALTIME_KIT_ID = "832fbf53-29cf-4caf-8485-4dcbda28bb55"
CLOUDFLARE_USER_TOKEN = "cfut_xyLLQ2p7uuxQkwMscfOmPfc9E8lbmh3eLV8b63bJ1eb50f74"
COMPANY_NAME = "RJ Business Solutions"
COMPANY_OWNER = "Rick Jefferson"
COMPANY_ADDRESS = "1342 NM 333, Tijeras, New Mexico 87059"
COMPANY_WEBSITE = "https://rjbusinesssolutions.org"
COMPANY_EMAIL = "support@rjbusinesssolutions.org"
COMPANY_LOGO = "https://storage.googleapis.com/msgsndr/qQnxRHDtyx0uydPd5sRl/media/67eb83c5e519ed689430646b.jpeg"
MFSN_API_URL = "https://api.myfreescorenow.com/api"
MFSN_EMAIL = "rickjefferson@rickjeffersonsolutions.com"
MFSN_AID = "RickJeffersonSolutions"
MFSN_DEFAULT_PID = "49914"
DISPUTEFOX_API_KEY = "Fox_d2b91RywvEp6ZlV1iRxRTOK5s7nWhVEh"
DISPUTEFOX_EMAIL = "rickjefferson@rickjeffersonsolutions.com"
DISPUTEFOX_LOGIN_URL = "https://pulse.disputeprocess.com/jsp/client/login.jsp"
GOOGLE_OAUTH_CLIENT_ID = "325284650320-n1k5gho8q51mep3i226ehfkhqdhril9p.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET = "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"
GOOGLE_SA_CLIENT_EMAIL = "rick-gpt-433807@appspot.gserviceaccount.com"
GOOGLE_SA_CLIENT_ID = "116367115148482233393"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_c21vb3RoLXBsYXR5cHVzLTcxLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY = "sk_test_s53t95vMYhpj2zQ4aoNi2flVdlB3GkJAvB3qlwTXW2"
CLERK_FRONTEND_API_URL = "https://smooth-platypus-71.clerk.accounts.dev"
CLERK_BACKEND_API_URL = "https://api.clerk.com"
CLERK_JWKS_URL = "https://smooth-platypus-71.clerk.accounts.dev/.well-known/jwks.json"
RAPIDAPI_KEY = "ac7dbc0a2dmshc2a1fe624de264fp121f98jsna26622c59d3f"
RAPIDAPI_APP_ID = "6212741"
TWILIO_ACCOUNT_SID = "AC4727a3fd6a8ce71a9b05d56fcc4b5b6c"
TWILIO_AUTH_TOKEN = "8a525321370d865b717be74eba30519f"
TWILIO_API_KEY_SID = "SK7d933b4f42c18a6e9c9401ce7943fbb8"
TWILIO_API_KEY_SECRET = "qiGAUIRZUbXYU6KdvOsGG4tvPwyvcixA"
TWILIO_PHONE_NUMBER = "+18667524618"
TWILIO_VOICE_INBOUND_URL = "https://api.rjbizsolution.com/webhooks/twilio/voice/inbound"
TWILIO_SMS_INBOUND_URL = "https://api.rjbizsolution.com/webhooks/twilio/sms/inbound"
SENDGRID_API_KEY = "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"
RESEND_API_KEY = "re_EzDKaqWv_LATpBhrGtGCQcPJzs72W5Jf6"
EMAIL_HOST = "smtp.rickjefferson.com"
EMAIL_PORT = "465"
EMAIL_USER = "info@rickjefferson.com"
EMAIL_IMAP_HOST = "imap.rickjefferson.com"
EMAIL_IMAP_PORT = "993"
CLICK2MAIL_USERNAME = "rj1006"
CLICK2MAIL_AUTH_BASIC = "cmoxMDA2Ok5hZGlhMTEyMyQ="
CLICK2MAIL_API_URL = "https://stage-rest.click2mail.com/molpro"
DISCORD_BOT_TOKEN = "MTQ2NjMzNjUyMjg3Njc0Nzk1NA.G7XxE1.CPQRi0bpoezG0VbAFPaq-GRqfAcaZjMrLkWBfU"
DISCORD_CLIENT_ID = "1466336522876747954"
DISCORD_CLIENT_SECRET = "gfD4YAYwYnuSElHwrQho1gXDDY9k9_RD"
DISCORD_MENS_BOT_APP_ID = "1468487536794931242"
DISCORD_MENS_BOT_PUBLIC_KEY = "1ea1042be7d27fdb03e084c7a0dab818162c85a618a6b913bdb969644bcb6999"
DISCORD_MENS_BOT_CLIENT_SECRET = "HpU3_YirY1bkUwsthELW8PGZ8wGEbkNB"
DISCORD_LEGAL_BOT_TOKEN = "MTQ2ODQ4NzUzNjc5NDkzMTI0Mg.Gj5nMa.efqyweRMcVCjDjKut__StON7y0iunwH1xxuTi8"
TELEGRAM_BOT_USERNAME = "jukeymanbot"
TELEGRAM_BOT_TOKEN = "8463220954:AAEsSjjpbVXrv7CEmkzpnVOLR4MJm4uD0s8"
TELEGRAM_BOT_TOKEN_2 = "8796254428:AAGhX6U427obU5vrR-J_K0PcqPNd-XLhGqs"
FACEBOOK_APP_ID = "509205838275077"
FACEBOOK_APP_SECRET = "e2c19bbebf79eb4f017ba02fb30d16ff"
FACEBOOK_BUSINESS_ID = "990563925127915"
GHL_API_KEY = "pit-68a40b4e-027e-4a13-b781-7a39a159d1cb"
GHL_LOCATION_ID_1 = "WCybfTVR84MV2oX8mb5O"
GHL_LOCATION_ID_2 = "Y9jeLXo4T5iJuSnNh6bs"
GHL_PIT_2 = "pit-4a9978b7-3d66-4c17-9fd2-e1a30f8bdaeb"
GHL_ACCOUNT_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IldDeWJmVFZSODRNVjJvWDhtYjVPIiwidmVyc2lvbiI6MSwiaWF0IjoxNzU2OTE0NjM5MDIzLCJzdWIiOiJVVHNOZlVMSDdlblBzTHFZOENsYyJ9.PpO8WHZH8LJkpj0PRSb_OavJgxjJzgGmWHwFvsA8VWI"
ZAPIER_API_KEY = "05bb585067b54827a2bd0d2179c4273c6e0330bc499545beb62b45ea7bf4a328"
MAKE_API_KEY = "5e874e12-735c-4387-a0bb-18813bb9198a"
TAVILY_API_KEY = "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"
FIRECRAWL_API_KEY = "fc-98971179099744a096c3bbe7305a31cb"
LINKUP_API_KEY = "4fddf4c2-6883-4c6f-8bd2-15c7c4ea7b83"
APIFY_API_KEY = "apify_api_blkk1axbSJgMZHxUVpceRlZRFdrquB3NDFd9"
HYPERBROWSER_API_KEY = "Hb_464b5e2505d5ad0a75949d91b468"
PEXELS_API_KEY = "H082ICYFrx9YGV1uW3BNCdJLYeKOvlwKcU8eKsgBLbRBYBFux1icpWbL"
BRAVE_API_KEY = "BSAWDkbF7o9LHvxXmjBFsBLGAykz2kG"
ELEVENLABS_API_KEY = "sk_606b9b17e9f9b49c3ee9dad4d3121b5141537b57af360843"
RUNWAY_API_KEY = "F1796a04-0fef-4cf0-8201-1e0351162967"
JOGG_AI_KEY = "da9ea765956146dc8a7ff5da7d84bcec"
MAGIC_HOUR_API_KEY = "mhk_live_Fu8b3j6zAYi6uKaOrsRCF6DmGkxermdHD9YiCyZyn4X90GbCYy5NedhXgzUf07RcE3MAcE5TrJeioAOG"
GAMMA_API_KEY = "sk-gamma-OwzimnTTirqzhm7Dlw9KdCyQ6YAfMVifYDjGxm0gc"
NETLIFY_TOKEN = "nfp_6uBkDJRpwf381Xc9vV6jP3dKwwJjnkaq1589"
HEROKU_TOKEN = "HRKU-9b4a1a46-abc1-431b-aaaf-86dcc176cb06"
RAILWAY_API_KEY = "5d0d78e8-7b50-485d-8021-764e475a916e"
RAILWAY_PROJECT_ID = "2fbc822f-ea8e-4d2c-bb96-c7600ac063b9"
CONVEX_DEPLOY_KEY = "prod:wary-ox-827|eyJ2MiI6ImIxZDg1MjZkNGEyNTQzOGE5NmE4MTI4NDkxOWM1M2Y1In0="
GITHUB_PAT = "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"
GITHUB_USERNAME = "rjbizsolution23-wq"
GITHUB_EMAIL = "rjbizsolution23@gmail.com"
DOCKER_USERNAME = "jukeyman2024"
DOCKER_PAT = "dckr_pat_SJCpSL1a6f1EoVvg4P0DqvB9EzA"
DYTE_ORG_ID = "832fbf53-29cf-4caf-8485-4dcbda28bb55"
DYTE_API_KEY = "c3919c49cc8d16f67405"
DYTE_AUTH_HEADER = "Basic ODMyZmJmNTMtMjljZi00Y2FmLTg0ODUtNGRjYmRhMjhiYjU1OmMzOTE5YzQ5Y2M4ZDE2ZjY3NDA1"
REPLIERS_API_KEY = "fJrObfyuDvbo9TZXsOxWGkdOKQWMGm"
SKOOL_WEBHOOK_URL = "https://api2.skool.com/groups/credit-empire-builders-3336/webhooks/539ad4a128504527b113ccb886ffde45"
COINBASE_PROJECT_ID = "3ceb961d-18f0-4c65-b6e8-216a1348100c"
COINBASE_APP_ID = "6e37d8b3-97a6-46cd-b1c0-4fec511f177b"
COINBASE_CLIENT_API_KEY = "vnL3nKoaqcrOdnmyrpbK9hJPaqd1GKYp"
COINBASE_CDP_NAME = "juk254"
COINBASE_CDP_KEY_ID = "3dc2e59a-317f-4a74-be36-fade0e96056f"
COINBASE_CDP_SECRET = "Ia5/+ramjIZzWwcvN9hijqySkxY6TBG/s0blK56WnP6DBpcWOFCd80TH9FUvGac3bn1DoCXxGWZLVsOJ7RNaFg=="
COURT_LISTENER_API_KEY = "19f8bbe3a51ecb842de3bd8f2759a7ab95bcae16"
DATA_GOV_API_KEY = "EFKCTYE7SuVAVESWz24GKdgzBWcwZok8w0gVamw2"
OPEN_STATES_PROJECT_ID = "3ceb961d-18f0-4c65-b6e8-216a1348100c"
KILO_CODE_KEY_1 = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbnYiOiJwcm9kdWN0aW9uIiwia2lsb1VzZXJJZCI6IjcxYjI0MWQ4LTY1MTEtNDdhOC04Y2ZkLTU0NzI4OTE1YzA1NyIsImFwaVRva2VuUGVwcGVyIjpudWxsLCJ2ZXJzaW9uIjozLCJpYXQiOjE3NzI1MTY3MDcsImV4cCI6MTkzMDE5NjcwN30.FYwgaQoyDZdrqqhSmZAU2u3ph73D6roqFujHnjD5Btw"
KILO_CODE_KEY_2 = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbnYiOiJwcm9kdWN0aW9uIiwia2lsb1VzZXJJZCI6Im9hdXRoL2dvb2dsZToxMDQyMjk0OTcwODI2NTMxNjA4MjIiLCJhcGlUb2tlblBlcHBlciI6bnVsbCwidmVyc2lvbiI6MywiaWF0IjoxNzU0NTkxNzQ4LCJleHAiOjE5MTIzNzk3NDh9.U_5Srm-sSJLWdplVOPiGc_fvGdIpgPGjqqbiBDdSdQQ"
SSH_HOST = "debian"
SSH_USER = "debian"
SSH_PORT = "3389"
SSH_LOGIN_USER = "rick24"
WP_API_KEY = "uVCI bkKr aBNX CbgJ DKOr zDOw"
WP_DB_NAME = "SCWORDPRESS-35313034301d"
WP_DB_HOST = "wpdb-42.hosting.stackcp.net"
WP_DOMAIN = "rickjefferson.com"
WP_FTP_SERVER = "ftp.rickjefferson.com"
SCANBOT_LICENSE_KEY = """
V0LkE84q/KNzgOa336NaWajQDps3ZcEzf/PptygrRYBhr7WpZHfUpmCNDg13C6oWlFy18uHJy1cMgKD+Dmmo4PMCExFIUDBji0tTIAUd+Wbk8rsK4Wcn48C8/Lfx0Rgzm40mZQgfDQF4YfIc2ClQ/EWrxH7C/Z3naGVUxoNw5RW8ZaUZCO1duEzTgfuZw7XJHy9k8orJ1uOUEhaLbDGFIK2hojewyLxI/YMvz0+4NXUQxuTHnwVK9wn5ovteabqK+mZ4b/R8ZqXoGZQCS7J92HBel8s5kcXwz8Q5bcZcsPiQZjKcNP88IbnxscLTCaOyzTX7sWZcgYbaSrYDSYRZAg==
U2NhbmJvdFNESwpsb2NhbGhvc3R8cmpiaXpzb2x1dGlvbi5jb20KMTc3MzYxOTE5OQo4Mzg4NjA3Cjg="""
MEMORI_API_KEY = "VmMRf77FJL6GCqEuLJXdqealUfi7O03a7z5tPayhrmG0Qs5NVQHAo_F29QnvhlxSRA3jsecRFt1i4_h_3fcUGq46q37EeRroa2CvFaF1a5jHa0Qh6Qv-NY2P6bwVUk7ysPRR2WfAOZJiWDmEhisz0rZVIhHWzK4_x2A0BjDToRA"
OAUTHLIB_INSECURE_TRANSPORT = "1"
